.footer-button {
  color: rgb(135, 138, 140);
  padding: 3px;
  border-radius: 5px;
}

.footer-button span {
  margin-left: 2px;
}

.horario {
  color: gray;
}

.grupo {

}

.emoji-list-picker {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

