<div class="p-1">
    <div class="testa1" [ngStyle]="{ 'background': grupo.cabecalhoSuperiorCor ? grupo.cabecalhoSuperiorCor : 'orange'}">
    </div>
    <div class="testa2 d-flex flex-column" [ngStyle]="{ 'background': grupo.cabecalhoInferiorCor ? grupo.cabecalhoInferiorCor : 'white'}">
        <div class="logo-descricao d-flex max-width-main-view">
            <jhi-grupo-logo [grupo]="grupo" [size]="64"></jhi-grupo-logo>
            <div class="descricao-container">
                <h4 class="nome">{{grupo.nome}}</h4>
                <div>{{grupo.descricao}}</div>
            </div>
        </div>
    </div>
</div>
