<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-perfil-grupo-heading" jhiTranslate="informaApp.perfilGrupo.home.createOrEditLabel">Create or edit a Perfil Grupo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.perfilGrupo.criacao" for="field_criacao">Criacao</label>
                    <div class="d-flex">
                        <input id="field_criacao" type="datetime-local" class="form-control" name="criacao" formControlName="criacao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.perfilGrupo.ultimaEdicao" for="field_ultimaEdicao">Ultima Edicao</label>
                    <div class="d-flex">
                        <input id="field_ultimaEdicao" type="datetime-local" class="form-control" name="ultimaEdicao" formControlName="ultimaEdicao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.perfilGrupo.versao" for="field_versao">Versao</label>
                    <input type="number" class="form-control" name="versao" id="field_versao"
                           formControlName="versao"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.perfilGrupo.favorito" for="field_favorito">Favorito</label>
                    <input type="checkbox" class="form-control" name="favorito" id="field_favorito"
                           formControlName="favorito"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.perfilGrupo.notifica" for="field_notifica">Notifica</label>
                    <input type="checkbox" class="form-control" name="notifica" id="field_notifica"
                           formControlName="notifica"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.perfilGrupo.moderador" for="field_moderador">Moderador</label>
                    <input type="checkbox" class="form-control" name="moderador" id="field_moderador"
                           formControlName="moderador"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.perfilGrupo.perfil" for="field_perfil">Perfil</label>
                    <select class="form-control" id="field_perfil" name="perfil" formControlName="perfilId">
                        <option *ngIf="!editForm.get('perfilId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="perfilUsuarioOption.id" *ngFor="let perfilUsuarioOption of perfilusuarios; trackBy: trackById">{{perfilUsuarioOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('perfilId')!.invalid && (editForm.get('perfilId')!.dirty || editForm.get('perfilId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('perfilId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.perfilGrupo.grupo" for="field_grupo">Grupo</label>
                    <select class="form-control" id="field_grupo" name="grupo" formControlName="grupoId">
                        <option *ngIf="!editForm.get('grupoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="grupoOption.id" *ngFor="let grupoOption of grupos; trackBy: trackById">{{grupoOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('grupoId')!.invalid && (editForm.get('grupoId')!.dirty || editForm.get('grupoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('grupoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
