<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="postReacao">
            <h2><span jhiTranslate="informaApp.postReacao.detail.title">Post Reacao</span> {{postReacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="informaApp.postReacao.criacao">Criacao</span></dt>
                <dd>
                    <span>{{postReacao.criacao}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.postReacao.ultimaEdicao">Ultima Edicao</span></dt>
                <dd>
                    <span>{{postReacao.ultimaEdicao}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.postReacao.versao">Versao</span></dt>
                <dd>
                    <span>{{postReacao.versao}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.postReacao.reacao">Reacao</span></dt>
                <dd>
                    <span>{{postReacao.reacao}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.postReacao.perfil">Perfil</span></dt>
                <dd>
                    <div *ngIf="postReacao.perfilId">
                        <a [routerLink]="['/perfil-usuario', postReacao.perfilId, 'view']">{{postReacao.perfilId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="informaApp.postReacao.post">Post</span></dt>
                <dd>
                    <div *ngIf="postReacao.postId">
                        <a [routerLink]="['/post', postReacao.postId, 'view']">{{postReacao.postId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/post-reacao', postReacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
