<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
        height: 200px
    }

    .nv-file-over {
        border: dotted 3px red;
    }

    input[type="file"] {
        display: none;
    }

    .vertical-center {
        display: flex;
        align-items: center;
        justify-content: center;
        ;
    }
    /* Default class applied to drop zones on over */
</style>


<div class="mb-3"  *ngIf="!deviceService.isMobile()">
    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="well my-drop-zone vertical-center ">
        <h3 class="text-info mr-1"> Drag 'n Drop Imagens Aqui ou</h3>
        <div>
            <label for="file-upload" class="btn btn-success btn-s">
                Browse
            </label>
            <input id="file-upload" type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
        </div>
    </div>
</div>

<div class="mb-3 mt-3"  *ngIf="deviceService.isMobile()">
    <div>
        <label for="file-upload-solo" class="btn btn-success btn-s">
            <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>Mais Imagens</span>
        </label>
        <input id="file-upload-solo" type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
    </div>
</div>

<div class = "mb-3">
    Progresso
    <div class="progress" style="">
        <div class="progress-bar" role="progressbar"
             [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
</div>




