<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-grupo-heading" jhiTranslate="informaApp.grupo.home.createOrEditLabel">Create or edit a Grupo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.grupo.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.grupo.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.grupo.formal" for="field_formal">Formal</label>
                    <input type="checkbox" class="form-control" name="formal" id="field_formal"
                           formControlName="formal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.grupo.opcional" for="field_opcional">Opcional</label>
                    <input type="checkbox" class="form-control" name="opcional" id="field_opcional"
                           formControlName="opcional"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
