<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grupo">
            <h2><span jhiTranslate="informaApp.grupo.detail.title">Grupo</span> {{grupo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="informaApp.grupo.versao">Versao</span></dt>
                <dd>
                    <span>{{grupo.versao}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.criacao">Criacao</span></dt>
                <dd>
                    <span>{{grupo.criacao}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.ultimaEdicao">Ultima Edicao</span></dt>
                <dd>
                    <span>{{grupo.ultimaEdicao}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.nome">Nome</span></dt>
                <dd>
                    <span>{{grupo.nome}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.descricao">Descricao</span></dt>
                <dd>
                    <span>{{grupo.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.formal">Formal</span></dt>
                <dd>
                    <span>{{grupo.formal}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.opcional">Opcional</span></dt>
                <dd>
                    <span>{{grupo.opcional}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="grupo.logo">
                        <a (click)="openFile(grupo.logoContentType!, grupo.logo)">
                            <img [src]="'data:' + grupo.logoContentType + ';base64,' + grupo.logo" style="max-width: 100%;" alt="grupo image"/>
                        </a>
                        {{grupo.logoContentType}}, {{byteSize(grupo.logo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.cabecalhoSuperiorCor">Cabecalho Superior Cor</span></dt>
                <dd>
                    <span>{{grupo.cabecalhoSuperiorCor}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.cabecalhoInferiorCor">Cabecalho Inferior Cor</span></dt>
                <dd>
                    <span>{{grupo.cabecalhoInferiorCor}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.logoFundoCor">Logo Fundo Cor</span></dt>
                <dd>
                    <span>{{grupo.logoFundoCor}}</span>
                </dd>
                <dt><span jhiTranslate="informaApp.grupo.topicos">Topicos</span></dt>
                <dd>
                    <span *ngFor="let topicos of grupo.topicos; let last = last">
                        <a [routerLink]="['/topico', topicos?.id, 'view' ]">{{topicos.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grupo', grupo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
