.bell {
  padding-top: 3px;
  font-size: 14px;
}

.star {
  padding-top: 2px;
  padding-left: 8px;
  font-size: 14px;
}

.pencil {
  padding-top: 2px;
  padding-left: 8px;
  font-size: 14px;
}

.elemento {
  padding-left: 16px;
  padding-right: 16px;
}

.sem-outline {
  outline: 0;
}

.elemento-filtros {
  padding-top: 3px;
}

.link-active {
  color: darkorange;
}
