<div class="vh100">
    <jhi-page-ribbon></jhi-page-ribbon>
    <div style="height: 0px;">
        <router-outlet name="navbar"></router-outlet>
    </div>
    <jhi-perfil-grupo-view class="padding_navbar_fixed"></jhi-perfil-grupo-view>
    <div class="container-fluid vh100 p-0" style="display: flex">
        <div style="width: 260px"></div>
<!--        <div [ngClass] ="{'padding_navbar_fixed': poePadding}" class="max-width-main-view flex-grow-1 mt-0" >-->
        <div class="padding_navbar_fixed max-width-main-view flex-grow-1 mt-0 mb-0" >
            <div class="card jh-card" >
                <router-outlet (activate)="activateEvent($event)"></router-outlet>
            </div>
        </div>
       <!--    <jhi-footer></jhi-footer>-->
    </div>
</div>
