<div class="vh100">
    <jhi-page-ribbon></jhi-page-ribbon>
    <div style="height: 0px;">
        <router-outlet name="navbar"></router-outlet>
    </div>
    <jhi-perfil-grupo-view class="padding_navbar_fixed"></jhi-perfil-grupo-view>
    <div class="container-fluid vh100 p-0" style="display: flex">
        <ng-container *ngIf = "perfilGrupoViewService.status$ | async as breakpoint">
            <div *ngIf = "breakpoint === DOCKED" style="width: 260px"></div>
        </ng-container>
        <div class="padding_navbar_fixed max-width-main-view flex-grow-1 mt-0 mb-0" >
            <div class="card jh-card" >
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
