<ng-container *ngIf = "perfilGrupoViewService.status$ | async as breakpoint">
    <ng-container *ngIf = "breakpoint === DOCKED">
        <div class="perfil-grupo-list perfil-grupo-list-docked" *ngIf="isAuthenticated()">
            <div class="mb-1 elemento d-flex justify-content-end" >
                <button class="btn btn-sm" (click)="perfilGrupoViewService.undock()"><fa-icon icon="times"></fa-icon></button>
            </div>
            <div class="mb-3 elemento">
                <input type="text" class="form-control" name="filtro" placeholder="Filtre a lista" [formControl]="filtro"/>
            </div>

            <div class="small mb-2 elemento">FILTROS</div>
            <jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
                <h5 class="elemento-filtros" routerLink="/" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" *ngIf="filtroMatch('meus grupos')">
                    meus grupos
                </h5>
            </jhi-hovered>
            <jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
                <h5 class="elemento-filtros" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" routerLink="post/todos" *ngIf="filtroMatch('todos')">
                    todos
                </h5>
            </jhi-hovered>
            <jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
                <h5 class="elemento-filtros" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" routerLink="post/trabalho" *ngIf="filtroMatch('trabalho')">
                    trabalho
                </h5>
            </jhi-hovered>
            <jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
                <h5 class="elemento-filtros" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" routerLink="post/informais" *ngIf="filtroMatch('informais')">
                    informais
                </h5>
            </jhi-hovered>
            <div class="small mb-2 mt-3 elemento">FAVORITOS</div>
            <div *ngFor="let perfilGrupo of perfilGruposFavoritos() ;trackBy: trackId" >
                <jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }" *ngIf="filtroMatch(perfilGrupo.grupo.nome)">
                    <div [routerLink]="['/post', 'grupo', perfilGrupo.grupo.id]" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" class="d-flex align-items-start elemento" style="padding-top: 6px">
                        <h5 class="flex-grow-1">{{perfilGrupo.grupo.nome}}</h5>
                        <div (click)="toggleNotifica(perfilGrupo)" [ngStyle]="{ 'color': perfilGrupo.notifica ? 'blue' : 'lightgrey' }" class="bell"><fa-icon icon="bell"></fa-icon></div>
                        <div (click)="toggleFavorito(perfilGrupo)" [ngStyle]="{ 'color': perfilGrupo.favorito ? 'blue' : 'lightgrey' }"class="star"><fa-icon icon="star"></fa-icon></div>
                    </div>
                </jhi-hovered>
            </div>
            <div class="small mb-2 mt-3 d-flex justify-content-between elemento">
                <div>MEUS GRUPOS</div>
                <div><fa-icon icon="pencil-alt"></fa-icon></div>
            </div>
            <ng-container *ngIf="perfilGrupos?.length > 0">
                <div *ngFor="let perfilGrupo of perfilGrupos ;trackBy: trackId" >
                    <jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }" *ngIf="filtroMatch(perfilGrupo.grupo.nome)">
                        <div [routerLink]="['/post', 'grupo', perfilGrupo.grupo.id]" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" class="d-flex align-items-start elemento" style="padding-top: 6px">
                            <h5 class="flex-grow-1">{{perfilGrupo.grupo.nome}}</h5>
                            <div (click)="toggleNotifica(perfilGrupo)" [ngStyle]="{ 'color': perfilGrupo.notifica ? 'blue' : 'lightgrey' }" class="bell"><fa-icon icon="bell"></fa-icon></div>
                            <div (click)="toggleFavorito(perfilGrupo)" [ngStyle]="{ 'color': perfilGrupo.favorito ? 'blue' : 'lightgrey' }"class="star"><fa-icon icon="star"></fa-icon></div>
                        </div>
                    </jhi-hovered>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
