
.footer-mensagem {
  //position: -webkit-sticky;
  //position: sticky;
  //position: relative;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.footer-background {
  background-color: white;
}
.footer-div {
  background-color: rgb(219, 224, 230);;
  width: 15px;
}

.message-content{
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 56px);
}

.first-div {
  height: 1px;
  margin-top: auto;
}

.last-div {
  height: 180px;
}

