<div class="chat-content">
    <div class="message-content" #message_container>
<!--         infinite-scroll (scrolled)="loadPage(page + 1)" (scrolledUp)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="5" [infiniteScrollUpDistance]="5" [alwaysCallback]="true"-->
        <div class="first-div"></div>
        <div class="padding_navbar_fixed"></div>
        <jhi-post-single [post]="post"></jhi-post-single>
        <div *ngFor="let mensagem of mensagems ;trackBy: trackId" #message>
            <jhi-mensagem-detail [mensagem]="mensagem"></jhi-mensagem-detail>
        </div>
        <div>
            <div class="last-div"></div>
        </div>
    </div>
    <div class="footer">
        <div class = "footer-div"></div>
        <jhi-mensagem-update class= "flex-grow-1"[post]="post"></jhi-mensagem-update>
        <div class = "footer-div"></div>
    </div>
</div>
