<div class="p-2 mt-3">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
            <jhi-quill-editor formControlName="conteudo"></jhi-quill-editor>
        </div>
        <div class="mt-2 d-flex flex-row-reverse">
            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary ">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Comentar</span>
            </button>
        </div>
    </form>
</div>
