<quill-editor
    [styles]="{borderTopLeftRadius: '0.25rem', borderTopRightRadius: '0.25rem'}"
    [(ngModel)]="content"
    [modules]="modules"
    (onContentChanged) = "contentChanged($event)"
    trackChanges="all"
     format="json"
    customToolbarPosition="bottom">
    <div quill-editor-toolbar [ngStyle]="{borderTop: '0px',borderBottomLeftRadius: '0.25rem', borderBottomRightRadius: '0.25rem'}">
    <span class="ql-formats">
        <button class="ql-bold" placement="bottom" ngbTooltip="Negrito"></button>
        <button class="ql-italic" placement="bottom" ngbTooltip="Itálico"></button>
        <button class="ql-strike" placement="bottom" ngbTooltip="Riscado"></button>
        <button class="ql-blockquote" placement="bottom" ngbTooltip="Citação"></button>
        <button class="ql-code-block" placement="bottom" ngbTooltip="Código"></button>
        <button class="ql-list" value="ordered" placement="bottom" ngbTooltip="Lista Númerada"></button>
        <button class="ql-list" value="bullet" placement="bottom" ngbTooltip="Bullets"></button>
        <button class="ql-clean" placement="bottom" ngbTooltip="Sem formatação"></button>
        <button class="ql-link" placement="bottom" ngbTooltip="Link"></button>
        <button class="ql-emoji" placement="bottom" ngbTooltip="Emoji"></button>
        <span class="ql-align-svg">
        <select class="ql-align" defaultValue="">
            <option value="" label="Left"></option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
        </select>
        </span>
    </span>
    </div>
</quill-editor>
