<quill-editor
    [styles]="{borderTopLeftRadius: '0.25rem', borderTopRightRadius: '0.25rem'}"
    [(ngModel)]="content"
    [modules]="modules"
    (onContentChanged) = "contentChanged($event)"
    (onEditorCreated)="addBindingCreated($event)"
    trackChanges="all"
     format="json"
    customToolbarPosition="bottom">
    <div quill-editor-toolbar [ngStyle]="{borderTop: '0px',borderBottomLeftRadius: '0.25rem', borderBottomRightRadius: '0.25rem'}">
    <span class="ql-formats">
        <button class="ql-bold" placement="bottom" ngbTooltip="Negrito"></button>
        <button class="ql-italic" placement="bottom" ngbTooltip="Itálico"></button>
        <button class="ql-strike" placement="bottom" ngbTooltip="Riscado"></button>
        <button class="ql-blockquote" placement="bottom" ngbTooltip="Citação"></button>
        <button class="ql-code-block" placement="bottom" ngbTooltip="Código"></button>
        <button class="ql-list" value="ordered" placement="bottom" ngbTooltip="Lista Númerada"></button>
        <button class="ql-list" value="bullet" placement="bottom" ngbTooltip="Bullets"></button>
        <button class="ql-clean" placement="bottom" ngbTooltip="Sem formatação"></button>
        <button class="ql-link" placement="bottom" ngbTooltip="Link"></button>
        <button class="ql-emoji" placement="bottom" ngbTooltip="Emoji"></button>
    </span>
        <span class="ql-formats">
        <button class="ql-align" value="" placement="bottom" ngbTooltip="Esquerda"></button>
        <button class="ql-align" value="center" placement="bottom" ngbTooltip="Centro"></button>
        <button class="ql-align" value="right" placement="bottom" ngbTooltip="Direita"></button>
        <button class="ql-align" value="justify" placement="bottom" ngbTooltip="Justificado"></button>
    </span>
    </div>
</quill-editor>
