<div>
    <h2 id="page-heading">
        <span jhiTranslate="informaApp.pushSubscription.home.title">Push Subscriptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-push-subscription" [routerLink]="['/push-subscription/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="informaApp.pushSubscription.home.createLabel">
            Create a new Push Subscription
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pushSubscriptions?.length === 0">
        <span jhiTranslate="informaApp.pushSubscription.home.notFound">No pushSubscriptions found</span>
    </div>
    <div class="table-responsive" *ngIf="pushSubscriptions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="informaApp.pushSubscription.versao">Versao</span></th>
            <th scope="col" ><span jhiTranslate="informaApp.pushSubscription.criacao">Criacao</span></th>
            <th scope="col" ><span jhiTranslate="informaApp.pushSubscription.endpoint">Endpoint</span></th>
            <th scope="col" ><span jhiTranslate="informaApp.pushSubscription.key">Key</span></th>
            <th scope="col" ><span jhiTranslate="informaApp.pushSubscription.auth">Auth</span></th>
            <th scope="col" ><span jhiTranslate="informaApp.pushSubscription.perfil">Perfil</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pushSubscription of pushSubscriptions ;trackBy: trackId">
                <td><a [routerLink]="['/push-subscription', pushSubscription.id, 'view' ]">{{pushSubscription.id}}</a></td>
                <td>{{pushSubscription.versao}}</td>
                <td>{{pushSubscription.criacao | date:'medium'}}</td>
                <td>{{pushSubscription.endpoint}}</td>
                <td>{{pushSubscription.key}}</td>
                <td>{{pushSubscription.auth}}</td>
                <td>
                    <div *ngIf="pushSubscription.perfilId">
                        <a [routerLink]="['/perfil-usuario', pushSubscription.perfilId , 'view' ]" >{{pushSubscription.perfilId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/push-subscription', pushSubscription.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/push-subscription', pushSubscription.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(pushSubscription)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
