<img *ngIf="!croppedImage" style = "border: 1px solid lightgrey; border-radius: 100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAAAPElEQVR42u3OMQEAAAgDIJfc6BpjDyQgt1MVAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBgXbgARTAX8ECcrkoAAAAAElFTkSuQmCC">
<img *ngIf="croppedImage" [src]="croppedImage" style = "border: 1px solid lightgrey; border-radius: 100%"/>
<!--     [style.border]="croppedImage ? '1px solid black' : 'none'"-->
<!--     [style.border-radius]="croppedImage ? '100%' : '0'"-->



<input class= "form-control-file" type="file" accept="image/*" (change)="fileChangeEvent($event)"/>
<br/>
<button type="button" class="btn btn-light"(click)="rotateLeft()"><fa-icon icon="undo"></fa-icon></button>
<button type="button" class="btn btn-light"(click)="rotateRight()"><fa-icon icon="redo"></fa-icon></button>
<button type="button" class="btn btn-light"(click)="flipHorizontal()"><fa-icon icon="arrows-alt-h"></fa-icon></button>
<button type="button" class="btn btn-light"(click)="flipVertical()"><fa-icon icon="arrows-alt-v"></fa-icon></button>
<button type="button" class="btn btn-light"(click)="zoomOut()"><fa-icon icon="search-minus"></fa-icon></button>
<button type="button" class="btn btn-light"(click)="zoomIn()"><fa-icon icon="search-plus"></fa-icon></button>
<button type="button" class="btn btn-light"(click)="resetImage()"><fa-icon icon="times-circle"></fa-icon></button>
<br/>
<div>
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="64"
        [cropperMinWidth]="32"
        [onlyScaleDown]="true"
        [roundCropper]="true"
        [canvasRotation]="canvasRotation"
        [transform]="transform"
        [alignImage]="'left'"
        [style.display]="showCropper ? null : 'none'"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
</div>


