<div class="mb-1 elemento d-flex justify-content-end" *ngIf = "dockingState === DOCKED">
    <button class="btn btn-sm" (click)="perfilGrupoViewService.undock()"><fa-icon icon="times"></fa-icon></button>
</div>
<div class="mb-3 elemento">
    <input type="text" class="form-control" style="width: 100%" name="filtro" placeholder="Filtre a lista" [formControl]="filtro"/>
</div>

<jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
    <h5 class="elemento-filtros" routerLink="/" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" *ngIf="filtroMatch('meus grupos')">
        meus grupos
    </h5>
</jhi-hovered>
<jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
    <h5 class="elemento-filtros" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" routerLink="post/todos" *ngIf="filtroMatch('todos')">
        todos
    </h5>
</jhi-hovered>
<jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
    <h5 class="elemento-filtros" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" routerLink="post/trabalho" *ngIf="filtroMatch('trabalho')">
        trabalho
    </h5>
</jhi-hovered>
<jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
    <h5 class="elemento-filtros" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" routerLink="post/informais" *ngIf="filtroMatch('informais')">
        informais
    </h5>
</jhi-hovered>
<div class="small mb-2 mt-3 elemento">FAVORITOS</div>
<div *ngFor="let perfilGrupo of perfilGruposFavoritos() ;trackBy: trackId" >
    <jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }" *ngIf="filtroMatch(perfilGrupo.grupo.nome)">
        <jhi-perfil-grupo-view-detail
            (toggleFavorito)="toggleFavorito($event)"
            (toggleNotifica)="toggleNotifica($event)"
            (toggleModerador)="toggleModerador($event)"
            [perfilGrupo]="perfilGrupo">
        </jhi-perfil-grupo-view-detail>
    </jhi-hovered>
</div>
<div class="small mb-2 mt-3 elemento">MEUS GRUPOS</div>

<ng-container *ngIf="perfilGrupos?.length > 0">
    <div *ngFor="let perfilGrupo of perfilGrupos ;trackBy: trackId" >
        <jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }" *ngIf="filtroMatch(perfilGrupo.grupo.nome)">
            <jhi-perfil-grupo-view-detail
                (toggleFavorito)="toggleFavorito($event)"
                (toggleNotifica)="toggleNotifica($event)"
                (toggleModerador)="toggleModerador($event)"
                [perfilGrupo]="perfilGrupo">
            </jhi-perfil-grupo-view-detail>
        </jhi-hovered>
    </div>
</ng-container>
<div class="small mb-2 mt-3 elemento">OUTROS</div>
<jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
    <div class="d-flex elemento-filtros-icon">
        <div class="icon-elemento-filtro" style = "font-size: 14px"><fa-icon icon="pencil-alt"></fa-icon></div>
        <h5 id="crie-novo-grupo" class = "elemento-filtros-descricao" routerLink="/grupo/new" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" *ngIf="filtroMatch('crie um grupo novo')">
            crie um grupo novo
        </h5>
    </div>
</jhi-hovered>
<jhi-hovered [hoverStyle]="{background: 'rgb(245,245,245)' }">
    <div class="d-flex elemento-filtros-icon">
        <div class="icon-elemento-filtro" style = "font-size: 14px"><fa-icon icon="pencil-alt"></fa-icon></div>
        <h5 id="entre-novos-grupos" class = "elemento-filtros-descricao" routerLink="perfil-grupo" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" *ngIf="filtroMatch('crie um grupo novo')">
            entre em novos grupos
        </h5>
    </div>
</jhi-hovered>
