<div [ngSwitch]="isAuthenticated()">
    <div  *ngSwitchCase="true" class = "d-flex justify-content-center">
        <jhi-web-notification></jhi-web-notification>
        <router-outlet></router-outlet>
    </div>
    <div class="row" *ngSwitchCase="false">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <h3>Bem vindo ao Informa da Objective!</h3>
            <div class="alert alert-warning">
                <span >Já tem uma conta? Basta então </span>
                <a class="alert-link" (click)="login()">logar!!</a>
            </div>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>
