<div class="mt-3 max-width-main-view">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" >
        <div class="d-flex justify-content-between mb-3">
            <div>
                <h4 *ngIf="!editForm.get('id')!.value">Crie um novo post</h4>
                <h4 *ngIf="editForm.get('id')!.value">Edite o seu post</h4>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
        <hr>
        <div>
            <div class="form-group">
                <ng-select [items]="grupos"
                           bindLabel="nome"
                           bindValue="id"
                           formControlName="grupoId"
                           id="field-grupo"
                >
                </ng-select>
            </div>
            <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTOR']">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="formal" id="field_oficial"
                           formControlName="oficial"/>
                    <label class="form-check-label" for="field_oficial">Oficial</label>
                </div>
            </div>
            <div class="form-group-card">
                <div class="form-group">
                    <jhi-quill-editor formControlName="conteudo"></jhi-quill-editor>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-toggle="tab" [routerLink]="['image']">Imagens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-toggle="tab" [routerLink]="['video-link']">Videos</a>
                    </li>
                </ul>
                <router-outlet></router-outlet>
            </div>
<!--                <jhi-file-upload></jhi-file-upload>-->
        </div>
        </form>
</div>
