<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-post-heading" jhiTranslate="informaApp.post.home.createOrEditLabel">Create or edit a Post</h2>
            <div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.post.grupo" for="field_grupo">Grupo</label>
                    <select class="form-control" id="field_grupo" name="grupo" formControlName="grupoId">
                        <option *ngIf="!editForm.get('grupoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="grupoOption.id" *ngFor="let grupoOption of grupos; trackBy: trackById">{{grupoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('grupoId')!.invalid && (editForm.get('grupoId')!.dirty || editForm.get('grupoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('grupoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <jhi-quill-editor formControlName="conteudo"></jhi-quill-editor>
                </div>
                <jhi-file-upload></jhi-file-upload>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informaApp.post.publicacao" for="field_publicacao">Publicacao</label>
                    <div class="d-flex">
                        <input id="field_publicacao" type="datetime-local" class="form-control" name="publicacao" formControlName="publicacao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
