<input #userInput autocomplete="off" class="form-control" type="text"
       [(ngModel)]="user"
       [editable]="false"
       [resultTemplate]="rt"
       [ngbTypeahead]="searchUser"
       [inputFormatter]="formatterUser"
       [ngClass]="{ 'ng-invalid': invalid }"
       [attr.disabled]="isDisabled ? isDisabled : null"
       (selectItem)="selectItem($event)"
>
</input>
<ng-template #rt let-r="result" let-t="term">
    <div><i class="fa fa-envelope"></i> {{ r.email}}</div>
    <div><i class="fa fa-user"></i><small> {{ r.firstName + ' ' + r.lastName }} </small> </div>
</ng-template>
